<div class="position-fixed search-box-wrapper">
    <form
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
        class="bg-white border key-search-box"
        [formGroup]="searchFrom"
        [class.show-options]="isShowResultSearch()"
    >
        <div class="px-3 h-100 overflow-hidden input-group">
            <input
                type="text"
                class="me-2 border-0 form-control"
                placeholder="Search Google Maps"
                formControlName="keySearch"
                (focus)="isShowResultSearch.set(true)"
            >
            <button class="me-2 p-0 border-0 btn"><i class="fs-3 bi bi-search"></i></button>

            @if (selectedMerchant()) {
                <button
                    class="ms-4 p-0 d-flex align-items-center justify-content-center rounded-circle border-0 btn btn-close-popup"
                    (click)="onCloseAddressDetail()"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="currentColor"><path d="M256-213.85 213.85-256l224-224-224-224L256-746.15l224 224 224-224L746.15-704l-224 224 224 224L704-213.85l-224-224-224 224Z"/></svg>
                </button>
            }

        </div>
    </form>

</div>



<!--  Start :: Result Option Template  -->
<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isShowResultSearch()"
    (overlayOutsideClick)="isShowResultSearch.set(false)"
>
    <div class="py-3 border-start border-end border-bottom bg-white result-search-options">

        @for (option of options(); track option.id; let index = $index) {
            @if (index < 10) {
                <div
                    class="px-3 d-flex gap-3 align-items-center justify-content-between cursor-pointer option"
                    [title]="option.address"
                    (click)="onSelectAddressOption(option)"
                >
                    <div class="flex-fill d-flex align-items-center gap-2">
                        <div [innerHTML]="option.icon | safeSvg" class="option-icon"></div>

                        <div class="flex-fill align-items-center gap-2 option-title">
                            <span class="fw-500">{{ option.title }} </span>
                            <span class="c-text-gray">{{ option.address }}</span>
                        </div>

                    </div>

                    @if (option.saved) {
                        <button class="p-0 d-flex align-items-center justify-content-center rounded-circle btn btn-remove">
                            <i class="bi bi-x-lg"></i></button>
                    }

                </div>
            }
        } @empty {
            <div class="p-3 text-center empty-data">No results found for the entered address.</div>

        }

    </div>
</ng-template>
<!--  End :: Result Option Template  -->
