<div class="container py-3 bg-white">
    <div class="d-flex align-items-center mb-3">
        <button class="btn btn-outline-primary me-3">
            <i class="bi bi-arrow-left"></i>
        </button>
        <h2 class="m-0">Tất cả danh mục</h2>
    </div>

    <!-- Tabs -->
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#food">Thực phẩm và đồ uống</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#activities">Điều nên làm</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#shopping">Mua sắm</button>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content">
        <!-- Thực phẩm và đồ uống -->
        <div class="tab-pane fade show active" id="food">
            <h4 class="mb-3">Thực phẩm và đồ uống</h4>
            <div class="row g-3">
                @for (item of listServiceTypes(); track item.id){

                    <div class="col-6 col-md-4">
                    <button class="btn btn-light w-100 py-3 shadow-sm rounded">
                        <img width="10px" height="10px" [src]="item.icons" [alt]="item.name">
                        <p>{{item.name}}</p></button>
                </div>
                }
                <div class="col-6 col-md-4">
                    <button class="btn btn-light w-100 py-3 shadow-sm rounded">☕ Quán cà phê</button>
                </div>
            </div>
        </div>

    </div>
</div>
