<div class="border-bottom py-3 pt-2">
    <div id="btnCategoryProduct" class="py-1 px-3 position-relative swiper-container">
        <div class="swiper-wrapper d-flex justify-content-center border-bottom">
            @for (item of listGroupsProduct(); track item.id) {
                <div class="swiper-slide overflow-hidden mx-1 rounded-3">
                    <div class="nav-link position-relative nav-item w-100 h-100 fs-6 cursor-pointer image-group"
                         [class.active]="item.id === selectedGroupId()"
                         (click)="selectGroup(item.id)">
                        <div
                            class="py-2  d-flex align-items-end justify-content-start fw-semibold fs-6 overlay">
                            <button class="w-100 d-flex justify-content-center align-items-center">
                                <span class="fw-semibold">{{ item.productGroupName }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="rounded-circle c-text-gray bg-white swiper-button-prev"></div>
        <div class="rounded-circle c-text-gray bg-white swiper-button-next"></div>
    </div>


    <div class="d-grid grid-products">
        @for (product of (selectedGroupId() ? listProductFill() : listProduct()); track product.id) {

            <button
                class="position-relative py-2 d-flex align-items-end justify-content-start rounded-2 btn btn-product"
                [ngStyle]="{ backgroundImage: 'url(' + product.avatar + ')' }"
                (click)="showDetailImage(product)"
            >
                <div class="position-relative text-white text-start">
                    <h6 class="mb-1 fs-5 product-title">{{ product.productName }}</h6>
                    <div>
                        <p>{{ product.price | dotSeparator }} VNĐ </p>
                        <span class="bg-danger p-1 fs-11px rounder-3px">
                                Hoàn tiền <b class="text-warning">{{ product.discountRate }} %</b></span>
                    </div>
                </div>
            </button>
        }
    </div>
    @if (selectedImage()) {
        <div class="full-product">
            <div class="container-fluid position-relative vh-100 bg-light">
                <div class="row h-100">
                    <!-- Image Viewer -->
                    <div class="col-12 position-relative bg-secondary">
                        <div class="text-black position-absolute close-image-detail" (click)="closeDetailImage()">
                            <span role="button" [innerHTML]="IconPaths.CLOSE | safeSvg"></span>
                        </div>
                        <div
                            class="position-absolute d-flex align-items-center bg-dark top-50 start-50 translate-middle image-full">
                            <img
                                [src]="selectedImage()?.avatar"
                                alt="Detail View"
                                class="img-fluid"/>
                        </div>
                        <div class="ms-sm-3  align-items-center position-absolute info-image">
                            <div class="d-flex flex-column p-1  text-white">
                                <span><b>{{ selectedImage()?.productName }}</b></span>
                                <i>{{ selectedImage()!.price | dotSeparator }} VNĐ</i>
                                <i class="text-warning">
                                    Hoàn tiền
                                    ngay {{ selectedImage()!.price * (selectedImage()!.discountRate / 100) | dotSeparator }}
                                    VNĐ
                                    khi mua sản phẩm
                                </i>
                            </div>
                            <hr>
                            <span class="mt-3">{{ selectedImage()?.description }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

