.grid-products {
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

.btn-product {
    height: 250px;
    background-size: cover;
    background-position: center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background-image: linear-gradient(0deg, rgba(0, 0, 0, .5) 10%, rgba(0, 0, 0, 0) 145%);
    }
}

.product-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.full-product {
    position: fixed;
    top: 0;
    left: calc(30dvw - 55px);
    width: calc(70dvw + 67px);

    .image-full {
        height: 100dvh;
    }

    .button-zoom {
        bottom: 0;
        right: 5%;
    }
    .close-image-detail{
        right: 3%;
        top: 1%;
    }

}

.info-image {
    top: 10px;
    left: 10px;
}

.nav-link.active {
    background-color: rgb(var(--c-primary));
    color: white;
}

.nav-link {
    background-color: transparent;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover:not(.active) {
    background-color: rgb(var(--c-primary), 0.4)
}

.swiper-button-prev,
.swiper-button-next {
    --swiper-navigation-size: 12px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transform: translateY(-50%);
}



