<section class="position-relative map-page">
    <div class="position-absolute top-filter">
        <ul class="d-flex align-items-center gap-1">
            <li  *ngFor="let item of listServiceTypeMerchant()">
                <button class="px-3 btn-service-type">{{item.name}}</button>
            </li>
        </ul>
    </div>
    <div class="position-absolute bg-white left-filter">
        <app-filter ></app-filter>
<!--        <app-slider-photos></app-slider-photos>-->
<!--        <app-personal-groups></app-personal-groups>-->

        <app-sidebar></app-sidebar>
    </div>


</section>
