<section class="position-relative map-page">
    <div class="position-fixed merchant-map" id="map">
    </div>

    <div class="position-absolute top-filter">
        <ul class="d-flex flex-wrap align-items-center gap-1">
            <li *ngFor="let item of listServiceTypeMerchant()" class="list-group">
                <button class="px-3 mx-1 btn-service-type fw-medium d-flex align-items-center"
                        (mouseover)="toggleSubServiceList(item.id)"
                (click)="valueService(item.name)">
                    <img [src]="item.icons" alt="{{item.name}}">
                    <span class="mx-2">{{ item.name }}</span>
                    <span *ngIf="item.id === selectedServiceId()"
                          class="material-symbols-outlined">
                        arrow_drop_down
                    </span>
                </button>
                <ul *ngIf="item.id === selectedServiceId()"
                    class="list-unstyled list-group position-absolute"
                    [style.top]="'100%'"
                    appClickOutside (clickOutside)="closeModal()">
                    <li class="p-1 list-group-item" *ngFor="let subService of listSubTypeService()">
                        <div class="px-3 d-flex align-items-center"
                             role="button"
                             (click)="valueService(subService.name); closeModal()">
                            {{ subService.name }}
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <div class="position-absolute bg-white left-filter">
        <app-filter [keyS]="serviceTypeSelected"></app-filter>
        <!--        <app-slider-photos></app-slider-photos>-->
        <!--        <app-personal-groups></app-personal-groups>-->

        @if (selectedGroupType()) {
            <app-personal-groups></app-personal-groups>
        }

        <app-sidebar></app-sidebar>
    </div>


</section>
