.map-page {
    width: 100dvw;
    height: 100dvh;
    background-color: #ababab;
}

.top-filter {
    min-width: 500px;
    height: 50px;
    top: 20px;
    left: 90px;

    .btn-service-type {
        height: 32px;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        background-color: white;

        &:hover {
            background-color: rgb(243, 243, 243);
        }
    }
}

.left-filter {
    height: 100%;
    width: 70px;

}

.main-screen {
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
}
