<section class="position-relative map-page">
    <div class="position-fixed merchant-map" id="map">
    </div>

    <div class="position-absolute top-filter">

        <ul class="d-none align-items-center gap-1">
            <li><button class="px-3 btn-service-type">Restaurants</button></li>
            <li><button class="px-3 btn-service-type">Hotels</button></li>
            <li><button class="px-3 btn-service-type">Things to do</button></li>
            <li><button class="px-3 btn-service-type">Museums</button></li>
            <li><button class="px-3 btn-service-type">Transit</button></li>
            <li><button class="px-3 btn-service-type">Pharmacies</button></li>
            <li><button class="px-3 btn-service-type">ATMs</button></li>
        </ul>
    </div>
    <div class="position-absolute bg-white left-filter">
        <app-filter></app-filter>

<!--        <app-slider-photos></app-slider-photos>-->

        @if (selectedGroupType()) {
            <app-personal-groups></app-personal-groups>
        }

        <app-sidebar></app-sidebar>
    </div>
</section>


