<section>
    <div class="border-bottom p-4">
        <h6 class="mb-3 fs-4 fw-400">Review Summary</h6>
        <div class="d-flex align-items-center gap-4 ">
            <div class="flex-fill rating-bars">
                <div class="d-flex align-items-center gap-4">
                    <span>5</span>
                    <div
                        class="position-relative rounded flex-fill overflow-hidden rating-bar"
                        [ngStyle]="{'--overlay-percent': 80 + '%'}"
                    ></div>
                </div>
                <div class="mt-2 d-flex align-items-center gap-4">
                    <span>4</span>
                    <div
                        class="position-relative rounded flex-fill overflow-hidden rating-bar"
                        [ngStyle]="{'--overlay-percent': 60 + '%'}"
                    ></div>
                </div>
                <div class="mt-2 d-flex align-items-center gap-4">
                    <span>3</span>
                    <div
                        class="position-relative rounded flex-fill overflow-hidden rating-bar"
                        [ngStyle]="{'--overlay-percent': 40 + '%'}"
                    ></div>
                </div>
                <div class="mt-2 d-flex align-items-center gap-4">
                    <span>2</span>
                    <div
                        class="position-relative rounded flex-fill overflow-hidden rating-bar"
                        [ngStyle]="{'--overlay-percent': 20 + '%'}"
                    ></div>
                </div>
                <div class="mt-2 d-flex align-items-center gap-4">
                    <span>1</span>
                    <div
                        class="position-relative rounded flex-fill overflow-hidden rating-bar"
                        [ngStyle]="{'--overlay-percent': 5 + '%'}"
                    ></div>
                </div>
            </div>
            <div class="d-flex justify-content-center flex-column align-items-center text-center rating-numbers">
                <span class="lh-1">5.0</span>
                <div [appStarRating]="5" class=" d-flex justify-content-center gap-1 fs-6 star-icons"></div>
                <button class="fs-6 btn c-text-primary btn-show-more-reviews">52 Reviews</button>
            </div>
        </div>
    </div>

    <div class="py-4">
        <h6 class="mb-3 px-4 fs-4 fw-400">Reviews</h6>
        <ul class="reviews">
            <li class="mt-4 px-4 pb-4 border-bottom">
                <div class="review">
                    <div class="mb-3 d-flex align-items-center gap-3 author-info">
                        <div
                            class="avatar rounded-circle"
                            [ngStyle]="{backgroundImage: 'url(' + 'https://upload.wikimedia.org/wikipedia/commons/4/48/Outdoors-man-portrait_%28cropped%29.jpg' + ')'}"
                        >
                        </div>
                        <div>
                            <h6 class="fs-5">Trần Vũ</h6>
                            <div class="d-flex align-items-center gap-2 c-text-gray">
                                <div [appStarRating]="5"
                                     class=" d-inline-flex justify-content-center gap-1 star-icons"></div>
                                <span class="d-flex align-items-center gap-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="14px" viewBox="0 -960 960 960"
                                             width="14px" fill="currentColor"><path
                                            d="m625.85-305.85 28.3-28.3L500-488.33V-680h-40v208.31l165.85 165.84ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120ZM480-480Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z"></path></svg>
                                        <span>01/10/2025</span>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 content">
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis
                            dignissimos, dolorum eaque facilis fuga harum, in minus, obcaecati odio quae quos
                            reprehenderit suscipit temporibus ut vel veritatis vitae? Dolorem exercitationem
                            incidunt iure mollitia numquam obcaecati, omnis pariatur sapiente voluptas. Animi autem
                            enim ex possimus praesentium repellendus, voluptatem? Consequatur, illo!
                        </div>
                    </div>
                    <div
                        class="d-grid btn-images-grid"
                        [class.shortcut]="originalImages().length > images().length"
                    >
                        @for (image of images(); track index; let index = $index) {
                            <button
                                class="position-relative btn-image"
                                [attr.data-rest-images-amount]=" '+' + (originalImages().length - 4)"
                                [ngStyle]="{backgroundImage: 'url(' + image + ')'}"
                                (click)="onShowMoreImages(index)"
                            ></button>
                        }
                    </div>
                </div>
            </li>
            <li class="mt-4 px-4 pb-4 border-bottom">
                <div class="review">
                    <div class="mb-3 d-flex align-items-center gap-3 author-info">
                        <div
                            class="avatar rounded-circle"
                            [ngStyle]="{backgroundImage: 'url(' + 'https://upload.wikimedia.org/wikipedia/commons/4/48/Outdoors-man-portrait_%28cropped%29.jpg' + ')'}"
                        >
                        </div>
                        <div>
                            <h6 class="fs-5">Trần Vũ</h6>
                            <div class="d-flex align-items-center gap-2 c-text-gray">
                                <div [appStarRating]="5"
                                     class=" d-inline-flex justify-content-center gap-1 star-icons"></div>
                                <span class="d-flex align-items-center gap-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="14px" viewBox="0 -960 960 960"
                                             width="14px" fill="currentColor"><path
                                            d="m625.85-305.85 28.3-28.3L500-488.33V-680h-40v208.31l165.85 165.84ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120ZM480-480Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z"></path></svg>
                                        <span>01/10/2025</span>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 content">
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis
                            dignissimos, dolorum eaque facilis fuga harum, in minus, obcaecati odio quae quos
                            reprehenderit suscipit temporibus ut vel veritatis vitae? Dolorem exercitationem
                            incidunt iure mollitia numquam obcaecati, omnis pariatur sapiente voluptas. Animi autem
                            enim ex possimus praesentium repellendus, voluptatem? Consequatur, illo!
                        </div>
                    </div>
                    <div
                        class="d-grid btn-images-grid"
                        [class.shortcut]="originalImages().length > images().length"
                    >
                        @for (image of images(); track index; let index = $index) {
                            <button
                                class="position-relative btn-image"
                                [attr.data-rest-images-amount]=" '+' + (originalImages().length - 4)"
                                [ngStyle]="{backgroundImage: 'url(' + image + ')'}"
                                (click)="onShowMoreImages(index)"
                            ></button>
                        }
                    </div>
                </div>
            </li>
            <li class="mt-4 px-4 pb-4 border-bottom">
                <div class="review">
                    <div class="mb-3 d-flex align-items-center gap-3 author-info">
                        <div
                            class="avatar rounded-circle"
                            [ngStyle]="{backgroundImage: 'url(' + 'https://upload.wikimedia.org/wikipedia/commons/4/48/Outdoors-man-portrait_%28cropped%29.jpg' + ')'}"
                        >
                        </div>
                        <div>
                            <h6 class="fs-5">Trần Vũ</h6>
                            <div class="d-flex align-items-center gap-2 c-text-gray">
                                <div [appStarRating]="5"
                                     class=" d-inline-flex justify-content-center gap-1 star-icons"></div>
                                <span class="d-flex align-items-center gap-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="14px" viewBox="0 -960 960 960"
                                             width="14px" fill="currentColor"><path
                                            d="m625.85-305.85 28.3-28.3L500-488.33V-680h-40v208.31l165.85 165.84ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120ZM480-480Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z"></path></svg>
                                        <span>01/10/2025</span>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 content">
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis
                            dignissimos, dolorum eaque facilis fuga harum, in minus, obcaecati odio quae quos
                            reprehenderit suscipit temporibus ut vel veritatis vitae? Dolorem exercitationem
                            incidunt iure mollitia numquam obcaecati, omnis pariatur sapiente voluptas. Animi autem
                            enim ex possimus praesentium repellendus, voluptatem? Consequatur, illo!
                        </div>
                    </div>
                    <div
                        class="d-grid btn-images-grid"
                        [class.shortcut]="originalImages().length > images().length"
                    >
                        @for (image of images(); track index; let index = $index) {
                            <button
                                class="position-relative btn-image"
                                [attr.data-rest-images-amount]=" '+' + (originalImages().length - 4)"
                                [ngStyle]="{backgroundImage: 'url(' + image + ')'}"
                                (click)="onShowMoreImages(index)"
                            ></button>
                        }
                    </div>
                </div>
            </li>
            <li class="mt-4 px-4 pb-4 border-bottom">
                <div class="review">
                    <div class="mb-3 d-flex align-items-center gap-3 author-info">
                        <div
                            class="avatar rounded-circle"
                            [ngStyle]="{backgroundImage: 'url(' + 'https://upload.wikimedia.org/wikipedia/commons/4/48/Outdoors-man-portrait_%28cropped%29.jpg' + ')'}"
                        >
                        </div>
                        <div>
                            <h6 class="fs-5">Trần Vũ</h6>
                            <div class="d-flex align-items-center gap-2 c-text-gray">
                                <div [appStarRating]="5"
                                     class=" d-inline-flex justify-content-center gap-1 star-icons"></div>
                                <span class="d-flex align-items-center gap-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="14px" viewBox="0 -960 960 960"
                                             width="14px" fill="currentColor"><path
                                            d="m625.85-305.85 28.3-28.3L500-488.33V-680h-40v208.31l165.85 165.84ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120ZM480-480Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z"></path></svg>
                                        <span>01/10/2025</span>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 content">
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis
                            dignissimos, dolorum eaque facilis fuga harum, in minus, obcaecati odio quae quos
                            reprehenderit suscipit temporibus ut vel veritatis vitae? Dolorem exercitationem
                            incidunt iure mollitia numquam obcaecati, omnis pariatur sapiente voluptas. Animi autem
                            enim ex possimus praesentium repellendus, voluptatem? Consequatur, illo!
                        </div>
                    </div>
                    <div
                        class="d-grid btn-images-grid"
                        [class.shortcut]="originalImages().length > images().length"
                    >
                        @for (image of images(); track index; let index = $index) {
                            <button
                                class="position-relative btn-image"
                                [attr.data-rest-images-amount]=" '+' + (originalImages().length - 4)"
                                [ngStyle]="{backgroundImage: 'url(' + image + ')'}"
                                (click)="onShowMoreImages(index)"
                            ></button>
                        }
                    </div>
                </div>
            </li>
            <li class="mt-4 px-4">
                <div class="review">
                    <div class="mb-3 d-flex align-items-center gap-3 author-info">
                        <div
                            class="avatar rounded-circle"
                            [ngStyle]="{backgroundImage: 'url(' + 'https://upload.wikimedia.org/wikipedia/commons/4/48/Outdoors-man-portrait_%28cropped%29.jpg' + ')'}"
                        >
                        </div>
                        <div>
                            <h6 class="fs-5">Trần Vũ</h6>
                            <div class="d-flex align-items-center gap-2 c-text-gray">
                                <div [appStarRating]="5"
                                     class=" d-inline-flex justify-content-center gap-1 star-icons"></div>
                                <span class="d-flex align-items-center gap-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="14px" viewBox="0 -960 960 960"
                                             width="14px" fill="currentColor"><path
                                            d="m625.85-305.85 28.3-28.3L500-488.33V-680h-40v208.31l165.85 165.84ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120ZM480-480Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z"></path></svg>
                                        <span>01/10/2025</span>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 content">
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis
                            dignissimos, dolorum eaque facilis fuga harum, in minus, obcaecati odio quae quos
                            reprehenderit suscipit temporibus ut vel veritatis vitae? Dolorem exercitationem
                            incidunt iure mollitia numquam obcaecati, omnis pariatur sapiente voluptas. Animi autem
                            enim ex possimus praesentium repellendus, voluptatem? Consequatur, illo!
                        </div>
                    </div>
                    <div
                        class="d-grid btn-images-grid"
                        [class.shortcut]="originalImages().length > images().length"
                    >
                        @for (image of images(); track index; let index = $index) {
                            <button
                                class="position-relative btn-image"
                                [attr.data-rest-images-amount]=" '+' + (originalImages().length - 4)"
                                [ngStyle]="{backgroundImage: 'url(' + image + ')'}"
                                (click)="onShowMoreImages(index)"
                            ></button>
                        }
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
