<section class="position-relative fs-11px side-bar-wrapper">
    <ul class="position-relative px-1 text-center d-flex flex-column align-items-center justify-content-start address-groups">
        <li class="address-group">
            <button class="btn btn-sidebar">
                <svg class="d-inline-block"  xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="30px" fill="currentColor"><path d="M160-269.23v-33.85h640v33.85H160Zm0-193.85v-33.84h640v33.84H160Zm0-193.84v-33.85h640v33.85H160Z"/></svg>
            </button>
        </li>
        <li class="address-group" [class.selected]="selectedGroupType() === EAddressGroupType.SAVED">
            <button
                class="btn"
                (click)="onShowCustomerGroup(EAddressGroupType.SAVED)"
            >
                <span [innerHTML]="IconPaths.PIN_XL | safeSvg"></span>Saved</button>
        </li>
        <li class="address-group">
            <button class="btn">
                <svg class="d-inline-block"  xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="currentColor"><path d="M477.74-140q-135.2 0-232.48-92.31T140.54-459.9h50.67q8.12 113.77 89.96 191.71 81.83 77.93 196.57 77.93 121.88 0 206.55-85.21 84.68-85.22 84.68-207.09 0-120.39-85.09-203.79-85.09-83.39-206.14-83.39-64.87 0-122.1 28.57-57.23 28.58-99.84 77.27h102.05v50.26h-187.8v-187.64h50.26v100.72q49.1-55.98 116.08-87.71Q403.36-820 477.74-820q70.77 0 132.82 26.57 62.05 26.56 108.46 72.56t73.31 107.64q26.9 61.64 26.9 132.15 0 70.77-26.9 132.95-26.9 62.18-73.31 108.26-46.41 46.07-108.46 72.97T477.74-140Zm127.93-181.49-150-148.92v-211.08h50.25v190.41l135.54 133.8-35.79 35.79Z"/></svg>Recents</button>
        </li>
        <li class="px-3 my-4"><hr></li>
    </ul>

    <ul class="position-relative px-1 pt-1 text-center d-flex flex-column align-items-center justify-content-start overflow-auto address-groups">

        @if (selectedListAddress()) {
            <li
                class="address-group"
                [class.selected]="selectedAddressGroupId() === selectedListAddress()!.id"
            >
                <button
                    class="mx-auto p-0 btn"
                    (click)="onSelectAddressGroup(selectedListAddress()!.id)"
                >
                    <div class="mx-auto mb-1 position-relative thumbnail-group" >
                        <div class="d-inline-flex align-items-center justify-content-center thumbnail" [innerHTML]="(selectedListAddress()?.icon || '') | safeSvg">
                        </div>

                    </div>
                    <span class="address-group-title">{{selectedListAddress()?.title}}</span>
                </button>
            </li>
        }

        @for(addressGroup of addressGroups(); track $index) {
            <li
                class="address-group"
                [class.selected]="selectedAddressGroupId() === addressGroup.id"
            >
                <button
                    class="mx-auto p-0 btn"
                    (click)="onSelectAddressGroup(addressGroup.id)"
                >
                    <div
                        class="mx-auto mb-1 position-relative thumbnail-group"
                        [class.more-than-one]="addressGroup.numberAddresses > 1"
                    >
                        @for(avatar of addressGroup.avatars; track $index) {
                            <div
                                class="d-inline-block thumbnail"
                                [class.position-absolute]="addressGroup.numberAddresses > 1">
                                <img [src]="avatar" alt="image">
                            </div>
                        }

                        @if (addressGroup.numberAddresses > 1) {
                            <span class="position-absolute text-white number-of-addresses">{{addressGroup.numberAddresses}}</span>
                        }

                    </div>
                    <span class="address-group-title">{{addressGroup.title}}</span>
                </button>
            </li>
        }

    </ul>
</section>

