.c-text-gray {
    color: rgb(var(--c-gray))
}
.c-text-primary {
    color: rgb(var(--c-primary))
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

.fs-11px {
    font-size: 11px;
}
.fs-14px {
    font-size: 14px;
}

.c-text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    &.lines-2 {
        -webkit-line-clamp: 2;
    }
    &.lines-4 {
        -webkit-line-clamp: 4;
    }
}
