:root {
    --c-primary:  57, 48, 136;

    --c-primary-100: #3d2f8614;
    --c-primary-200: #3d2f8627;
    --c-secondary: #E14538;
    --c-secondary-100: #ffebe9;
    --c-secondary-300: #fec1b4;
    --c-white: #fff;
    --c-black: #0d0c0a;

    --c-gray: 201, 201, 201;

    --c-success: #009060;
    --c-success-100: #DDFFE5;

    --c-warning: #602E18;
    --c-warning-100: #FEF2C6;

    --c-error: #BF1717;
    --c-error-100: #FCEDEA;

}
