<div
    class="position-fixed search-box-wrapper"
    [class.large]="true"
>
    @if (showMerchantGroupType() === EShowMerchantGroupType.CLIENT) {
        <div class="mt-4 overflow-auto merchants">
            <div class="px-4 d-flex align-items-center justify-content-between fs-14px">
                <h5 class="fw-500 fs-5">Your Lists</h5>
                <button
                    class="d-flex align-items-center gap-2 btn c-text-primary fw-400 fs-14px"
                    (click)="onOpenAddListForm()"
                >
                    <span [innerHTML]="IconPaths.PLUS | safeSvg"></span>
                    New list
                </button>
            </div>

            <ul class="py-3 address-group-types">
                @for(group of systemMerchantGroups(); track group.id) {
                    <li
                        class="py-3 px-4 d-flex align-items-center justify-content-between cursor-pointer group"
                        (click)="onSelectSystemGroup(group.id)"
                    >
                        <div class="d-flex align-items-center justify-content-between gap-3 ">
                            <span [innerHTML]="group.icon | safeSvg"></span>
                            <div>
                                <p class="lh-1 fs-5">{{group.title}}</p>
                                <p>{{group.merchants.length}} Places</p>
                            </div>
                        </div>
                        <button
                            class="d-flex align-items-center justify-content-center rounded-circle border btn-group-options"
                            [innerHTML]="IconPaths.VERTICAL_DOTS | safeSvg"
                            (click)="onOpenContextMenu(group, $event)"
                        ></button>
                    </li>
                }
            </ul>
        </div>
    } @else {
        <div class="px-4 mt-4 overflow-auto merchants">
            <h5 class="position-sticky mb-4 d-flex align-items-center gap-2 fs-5 bg-white recent-addresses-title">
                Recents
                <span [innerHTML]="IconPaths.HISTORY | safeSvg"></span>
            </h5>

            <div>
                <div class="d-flex flex-wrap gap-2">
                    <button
                        class="btn btn-address-group"
                        [class.selected]="selectedMerchantGroupId() === 'ALL'"
                        (click)="onSelectMerchantGroup('ALL')"
                    >All</button>
                    @for(group of merchantGroups() | filter: 'SERVICE_TYPE': 'type'; track group.id) {
                        <button
                            class="btn btn-address-group"
                            [class.selected]="selectedMerchantGroupId() === group.id"
                            (click)="onSelectMerchantGroup(group.id)"
                        >{{group.title}} <span>{{group.merchants.length > 1 ? group.merchants.length : ''}}</span></button>
                    }

                </div>

                <div class="my-4 w-100"><hr></div>

                <ul class="mb-4 addresses">
                    @for(merchant of merchants(); track merchant.id) {
                        <li>
                            <button
                                class="w-100 d-flex align-items-center justify-content-between gap-2 text-start btn btn-address"
                                [class.selected]="selectedMerchant()?.id === merchant.id"
                                (click)="onSelectMerchant(merchant)"
                            >
                                <div class="position-relative d-flex align-items-stretch gap-3">
                                    <button
                                        class="position-absolute align-items-center justify-content-center border rounded-circle btn btn-remove-from-list"
                                        [innerHTML]="IconPaths.CLOSE | safeSvg"
                                        (click)="onRemoveMerchantFromGroup($event, merchant.serviceTypeId, merchant.id)"
                                    ></button>

                                    <div class="rounded overflow-hidden avatar">
                                        <img [src]="merchant.avatar" [alt]="merchant.name" width="100%" height="100%">
                                    </div>
                                    <div class="d-flex flex-column justify-content-between">
                                        <div class="d-flex align-items-center gap-2">
                                            <div class="d-flex align-items-center justify-content-center rounded merchant-discount">{{merchant.discountRate}}%</div>
                                            <h5 class="lh-1 c-text-truncate address-title">{{merchant.name}}</h5>
                                        </div>
                                        <div class="lh-1 d-flex align-items-center gap-2 address-rating">
                                            <div class="rating-point">{{merchant.rating}}</div>
                                            <div class="star-icons" [appStarRating]="merchant.rating"></div>
                                            <div class="rating-amount">({{merchant.totalRating}})</div>
                                        </div>
                                        <span class="address-full">{{merchant.fullAddress}}</span>
                                    </div>
                                </div>

                                <div>
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </button>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>


<!--  Start :: New Group Form  -->
<ng-template cdkPortal>
    <form class="p-3 bg-white rounded form-add-new-list" (submit)="onSaveGroup()" (keydown.enter)="onSaveGroup()">
        <div class="mb-4 d-flex align-items-center justify-content-between fs-14px">
            <h5 class="fw-500 fs-5">New Group</h5>
            <button class="p-0 btn fw-400 fs-14px" (click)="onCloseCreateGroupForm()">
                <span [innerHTML]="IconPaths.CLOSE | safeSvg"></span>
            </button>
        </div>

        <div class="mb-4">
            <div class="mb-2 d-flex align-items-center justify-content-between c-text-gray">
                <span>Group name</span>
                <span>{{newGroupName.length}}/40</span>
            </div>
            <input
                type="text"
                class="form-control"
                name="group-name"
                maxlength="40"
                [(ngModel)]="newGroupName"
            >
        </div>
        <div class="text-end">
            <button class="py-2 text-white btn btn-create-list" [disabled]="!newGroupName">Save</button>
        </div>
    </form>
</ng-template>
<!--  End :: New Group Form  -->

<ng-template #contextMenuTemplate>
    <div class="p-2 shadow-md bg-white rounded border context-menu">
        <button class="px-3 py-1 d-block" (click)="onEditList()">Edit list</button>

        @if (selectedGroup() && selectedGroup()!.type !== EMerchantGroupType.SYSTEM) {
            <button class="px-3 py-1 d-block" (click)="onRemoveGroup()">Remove list</button>
        }
    </div>
</ng-template>
