
.search-box-wrapper {
    top: 0;
    left: 70px;
    //padding: 10px 0px 0 20px;
    padding-top: 50px;
    width: 450px;
    color: rgb(var(--c-gray));

    .key-search-box {
        margin-right: 20px;
        height: 48px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    &.large {
        height: 100dvh;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        .key-search-box {
            box-shadow: none;
        }
    }
}

.recent-addresses {
    padding-right: 20px;
    height: calc(100dvh - 58px - 1.5rem);

    .btn-address-group {
        border: 1px solid rgb(var(--c-gray));
    }

    .recent-addresses-title {
        top: 0;
    }
}

.rounded-30px {
    border-radius: 30px;
}

.btn-sidebar {
    margin-top: 10px;
}

.addresses {
    li+li {
        margin-top: 10px;
    }
    .btn-address {
        &:hover {
            border: 1px solid rgb(var(--c-gray));
        }

        .avatar {
            height: 64px;
            width: 64px;
        }

        .star-icons {
            color: rgb(255, 191, 0);
        }

        .form-check-input {
            font-size: 20px;
            border-width: 2px;
        }

        .address-title {
            font-size: 18px;
            color: rgb(var(--c-text-primary));
        }

        .rating-point, .rating-amount {
            margin-top: 2px;
        }
    }
}

.address-group-types {
    .group {
        &:hover {
            background-color: rgb(var(--c-gray), .15);
        }
    }

    .btn-group-options {
        width: 38px;
        height: 38px;
        &:hover {
            background-color: rgb(var(--c-gray), .2);
        }
    }
}

.form-add-new-list {
    width: 360px;

    .btn-create-list {
        min-width: 100px;
        border: none;
        transition: all .3s ease-in;
        background-color: rgb(var(--c-primary));

        &:disabled {
            opacity: .7;

        }
    }
}
