.address-detail-page {
    left: 500px;
    top: 50px;
    bottom: 20px;
    width: 450px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    &.left {
        left: 70px;
        top: 0;
        bottom: 0;
        border-radius: 0;
    }
}

.wrapper-content {
    height: 100%;

    &.large {
        height: calc(100% - 70px);
    }
}

.address-avatar {
    height: 240px;
    background-size: cover;
    background-position: center;
    background-color: rgb(var(--c-gray), .3);

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background-image: linear-gradient(0deg, rgba(0,0,0,.4) 0%, rgba(0,0,0,0) 100%);
    }

    .text {
        font-size: 11px;
    }
}

.btn-close-popup-wrapper {
    padding-top: 20px;
    padding-bottom: 1rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: all .150s ease-in;

    &.large {
        padding-bottom: 24px;
    }

    &.show {
        background-color: #fff;
        border-bottom: 1px solid rgb(var(--c-gray), .3);
    }

    .btn-close-popup,
    .btn-go-back{
        width: 32px;
        height: 32px;
    }

    &.full {
        .btn-close-popup,
        .btn-go-back{
            &:hover {
                background-color: rgb(var(--c-gray), .15);
            }
        }
    }
}

.btn-pin {
    transform: rotateZ(25deg);
}
.star-icons {
    color: rgb(255, 191, 0);
}


.address-info-groups {
    .btn {
        border: 2px solid transparent;
    }

    .selected {
        border-bottom: 2px solid rgb(var(--c-primary));
        color: rgb(var(--c-primary));
    }
}


.btn-photo-groups {
    --swiper-navigation-size: 18px;

    .swiper-slide {
        width: 110px;
        height: 150px;
        border: 2px solid transparent;

        &:hover {
            border: 2px solid rgb(var(--c-primary));
        }

        .image-group {
            background-size: cover;
            background-position: center;

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                background-color: rgba(0,0,0,.3);
                display: block;
            }
        }

    }


    .swiper-button-prev,
    .swiper-button-next {
        width: 36px;
        height: 36px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        transform: translateY(-18%);
    }
}
